# Gemini
GEMINI_API_KEY=AIxxxxxxx

# GitHub
GITHUB_TOKEN=github_pat_xxxxx

GITHUB_MCP_TRANSPORT=docker
GITHUB_MCP_TOOLSETS=all

FIX_MODEL=gemini/gemini-2.5-flash

#optional if using openrouter models
OPENROUTER_API_KEY=sk-or-v1-xxxxx

# Jira
JIRA_URL=https://company.atlassian.net
JIRA_USERNAME=example@gmail.com
JIRA_API_KEY=ATAxxxxxxxxxxxxxxxxxxxxxxxxxx
HOLMES_TIMEOUT=1000
SSE_READ_TIMEOUT=1000
LLM_REQUEST_TIMEOUT=1000

SLACK_TOKEN= xoxb-xxxxxxxxxxxxx
SLACK_CHANNEL=channel_name
SLACK_TEAM_ID=TBxxxx
SLACK_APP_TOKEN=xapp-x-xxxxxxxxxxxxxxxxxxxxxxx


AZURE_TENANT_ID=447xxxxxxxxxxxxxxxxxxxxx
AZURE_CLIENT_ID=2daxxxxxxxxxxxxxxxxxxxxxxxx
AZURE_CLIENT_SECRET=xxxxxxxxxxxxx
AZURE_SUBSCRIPTION_ID=458xxxxxxxxxxxxxxxxxxxx

GRAFANA_URL=https://company.grafana.net
GRAFANA_TOKEN=glsxxxxxxxxxxxxxxxxxxxxxxx
GRAFANA_ORG_ID=1

K8S_NAMESPACE=mcp-hub-test
K8S_DEPLOYMENT=mcp-hub-test

GITHUB_REPO=git_user_name/mcp-hub-test       
AZURE_APP_SERVICE=mcp-hub-test           # optional, this is already the default
AZURE_RESOURCE_GROUP=appsvc_xxxxxxxxxxxx

GIT_CLONE_DIR=/watcher-data/data/repo-clone
#GIT_DEFAULT_BRANCH=main

SONARQUBE_URL=https://sonarcloud.io
SONARQUBE_ORG=organinzation_key
SONARQUBE_TOKEN=501xxxxxxxxxxxxxxxxxxxxxxxx
SONARQUBE_PROJECT_KEY=project_key 

POSTGRES_URL=postgresql://holmes_readonly:mcp_hub_test@postgres:5432/mcp_hub
POSTGRES_ADMIN_PASSWORD=mcp_hub_test

# Platform
PORT=8000


HOLMES_CORS_ORIGINS=http://localhost:5173

CONTROL_PLANE_TOKEN=bearer_token
